{% extends 'main.html' %}
{% block body %}
{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}" defer></script>


<hr class="mt-0">
<div class="card shadow" style="margin: 9% 4% 6% 4%; display: flex; justify-self: center;" id="signupform">
    <div class="card-body">
        <h3 class="p-2 text-danger" style="border-bottom: 2px solid orange; font-weight: bolder;">Confirm Booking Detail</h3>
        <div class="container-fluid">
            <form method="POST"  enctype="multipart/form-data" style="font-size: 17px;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="user_name" readonly placeholder="Enter Your Name"  class="form-control" style="font-size: 15px;" value="{{user.user.username}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email ID</label>
                            <input type="email" name="email" readonly placeholder="Email Address" required class="form-control" style="font-size: 15px;" value="{{user.user.email}}">
                        </div>
                    </div>
            
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" name="mobile" readonly placeholder="Contact Number" required class="form-control" style="font-size: 15px;" value="{{user.mobile}}">
                        </div>
                    </div>
            
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Address</label>
                            <input name="address" readonly class="form-control" style="font-size: 15px;" placeholder="Full Address" value="{{user.address}}">
                        </div>
                    </div>
            
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Total Price(BDT.)</label>
                            <input type="text" name="total" readonly class="form-control"style="font-size: 15px;" value="{{total}}" >
                        </div>
                    </div>
                </div>
                <input type="submit" value="Book Now" class="m-2 px-3  btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}