{% extends 'main.html' %}
{% block body %}
{% load static %}

<title>Change Password</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="{% static 'script.js' %}" defer></script>
{% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}

<div class="card shadow" style="margin: 9% 4% 6% 4%; display: flex; justify-self: center;">
    <div class="card-body">
        <h3 class="p-2 text-danger" style="border-bottom: 2px solid orange; font-weight: bolder;">Change Password</h3>
        <div class="container-fluid">
            <form method="POST"  enctype="multipart/form-data" name = "changepassword" onsubmit="return checkpass()" style="font-size: 17px; align-items: unset;">
                {% csrf_token %}
                <div class="">
                    <div class="col-sm-6" style="padding-block: 1%;">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="currentpassword" id="currentpassword" placeholder="Enter Current Password"  class="form-control" style="font-size: 15px;" required>
                        </div>
                    </div>
            
                    <div class="col-sm-6" style="padding-block: 1%;">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpassword"  placeholder="Enter New Password"  class="form-control" style="font-size: 15px;" required>
                        </div>
                    </div>

                    <div class="col-sm-6" style="padding-block: 1%;">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Enter New Password Again"  class="form-control" style="font-size: 15px;" required>
                        </div>
                    </div>
                    
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary" style="font-size: 15px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}