{% extends 'main.html' %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}" defer></script>



<!-- 
     - #home
-->


<div class="home" style="padding:0 9% 0; height: 85vh; margin-top: 6%">
    <div class="home-content">
        <h1>Welcome to,, <span>ORGAMIC</span></h1>
        <h3 class="typing-text">Here you can find <span></span></h3>
        <p>Your local market, just a click away.
            Experience the joy of fresh ingredients delivered right to your door!</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-phone"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <a href="#" class="btn">Download App</a>
    </div>
</div>



<!-- 
    - #nutrition section
-->


<div class="nutritions">
        <h1 style="font-size: 5rem; color: #4d6a0f">Nutrition Facts</h1>

      <div>
        <img src="{% static 'nutritions_facts.png' %}" loading="lazy" alt="nutritions">
      </div>
</div>



<!-- 
    - #offer section
-->



<div class="cta">
    <div class="container">

        <h1 style="font-size: 5rem; color: #4d6a0f">Winter Offer</h1>

      <h2 class="h2 section-title">Up To 50% Off All Product.</h2>

      <p class="cta-text">
        It has survived not only five centuries also leaped.
      </p>

      <a href="/products/" class="btn">Shop Now <i class="fa-duotone fa-solid fa-angles-right" style="--fa-primary-color: #ffffff; --fa-secondary-color: #b8b8b8;"></i></a>

    </div>
</div>



 <!-- 
        - #pop-up section
 -->



<div class="pop-up" style="display: flex; justify-content: space-around; margin-block: 5%">
    <img src="{% static 'safeShipping.gif' %}" alt="" width="220" height="234">
    <img src="{% static 'freeServices.gif' %}" alt="" width="220" height="234">
    <img src="{% static 'tracking.gif' %}" alt="" width="220" height="234">
</div>




 <!-- 
        - #PARTNER
 -->



 
<div class="partners">
    <div class="container">

        <h1  class="partners-title" >Trusted Partners</h1>

      <p class="partners-description">We try to serve you the best</p>

      <div class="partners-logos">
        <div class="logo-container left">
            <img class="partner-logo fade-image" src="{% static 'partner-1.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
            <img class="partner-logo fade-image" src="{% static 'partner-2.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
            <img class="partner-logo fade-image" src="{% static 'partner-3.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
        </div>
        <div class="logo-container right">
            <img class="partner-logo fade-image" src="{% static 'partner-4.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
            <img class="partner-logo fade-image" src="{% static 'partner-5.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
            <img class="partner-logo fade-image" src="{% static 'partner-6.png' %}" width="220" height="234" loading="lazy" alt="Partner logo">
        </div>
    </div>
    </div>
</div>

{% comment %} <div class="features" id="features">
    <h2>Features of Orgamic</h2>
    <div class="feature-container">
        <div class="feature-item">
            <h3>1. Fresh Produce</h3>
            <p>Get the freshest organic fruits and vegetables delivered to your doorstep.</p>
        </div>
        <div class="feature-item">
            <h3>2. Convenient Shopping</h3>
            <p>Shop easily from the comfort of your home with our user-friendly platform.</p>
        </div>
        <div class="feature-item">
            <h3>3. Quick Delivery</h3>
            <p>Enjoy fast and reliable delivery services to ensure you get your groceries on time.</p>
        </div>
    </div>
</div> {% endcomment %}


<div class="feature-container">
    <div class="vertical-line"></div>
    <div class="feature-cards">
        <div class="item">
                <img class="feature-img" src="{% static 'fruit.png' %}" loading="lazy" alt="Fresh fruit">
            <div class="feature-card">
                <h3 class="feature-heading">1. Fresh Produce</h3>
                <p class="feature-details">Get the freshest organic fruits and vegetables delivered to your doorstep.</p>
            </div>
        </div>
        <div class="item">
                <img class="feature-img" src="{% static 'grocery-cart.png' %}" loading="lazy" alt="Grocery-cart">
            <div class="feature-card">
                <h3 class="feature-heading"> Convenient Shopping</h3>
                <p class="feature-details">Shop easily from the comfort of your home with our user-friendly platform.</p>
            </div>
        </div>
        <div class="item">
                <img class="feature-img" src="{% static 'delivery.png' %}" loading="lazy" alt="Delivery Truck">
            <div class="feature-card">
                <h3 class="feature-heading">3. Quick Delivery</h3>
                <p class="feature-details">Enjoy fast and reliable delivery services to ensure you get your groceries on time.</p>
            </div>
        </div>
    </div>
</div>



  <!-- 
        - #NEWSLETTER
      -->

      <div class="newsletter" style="background-color: #1e272e">
        <div class="container">

          <div class="newsletter-card">

            <p class="newsletter-subtitle"> -- Be our Orgamic member--</p>

            <h2 class="newsletter-title">Sign Up To Orgamic & Get <span class="neon-text" style="color: #beda83">20% Off.</span></h2>

            <form action="" class="newsletter-form">

              <input type="email" name="email" placeholder="Enter your email" required class="input-email">

              <a href="/home/" class="btn">Sign Up <i class="fa-duotone fa-solid fa-angles-right" style="--fa-primary-color: #ffffff; --fa-secondary-color: #b8b8b8;"></i></a>

            </form>

          </div>

        </div>
    </div>
{% endblock %}