{% extends 'main.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="products-layout" style="display: grid; grid-template-columns: 350px 1fr; height: 100vh; overflow: hidden; margin-top: 8%;">
    <!-- Sidebar -->
    <div class="sidebar bg-light border-right" style="font-size: medium;">
      <div class="sidebar-heading">Start Filtering</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'products' 0 %}" class="list-group-item list-group-item-action bg-light">
          All Product
        </a>
        {% for i in allcategory %}
        <a href="{% url 'products' i.id %}" class="list-group-item list-group-item-action bg-light">
          {{ i.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  
    <!-- Product Section -->
    <div class="product-section">
      <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
          <i class="fa fa-bars"></i>
        </button>
        <h3 style="color: black; margin-left:30%; font-size: x-large;">{% if category.name %}{{ category.name }}{% else %}All Products{% endif %}</h3>
      </nav>
      <div class="products-container">
        {% for j in product %}
        <div class="product-card">
          <!-- Image Section -->
          <div class="image-container">
            <img src="{{ j.image.url }}" alt="Product Image" class="product-image">
            <div class="heart-icon">
              <i class="fas fa-heart"></i>
            </div>
          </div>
          <div class="product-details">
            <div class="weight-options">
              <button>1/2 kg</button>
              <button>1 kg</button>
            </div>
            <div class="product-rating" style="font-size: 15px;">
              <div class="stars">★★★★☆</div>
              <span >3.2</span>
            </div>
            <div class="product-price" style="font-size: 14px;">
              <span class="current-price">Rs.{{ j.price }}</span>
              {% comment %} <span class="original-price">$150.00</span> {% endcomment %}
              <span class="discount">-10%</span>
            </div>
            <p class="product-name">{{ j.name }}</p>
            <a href= {% if  request.user.is_authenticated %}"/add-to-cart/{{j.id}}/"{% else %}"/login/"{% endif %}>
              <button class="add-to-cart-btn">Add To Cart</button>
            </a>
            <a href="/product-detail/{{j.id}}/" >
              <button class="view-product-btn" style="background-color: #00ffde99;">View Product</button>
            </a>
          </div>
        </div>
        {% empty %}
        <div class="no-products">
          <img src="{% static 'images/empty.jpg' %}" alt="No Products Available">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}