/* New! Keyboard shortcuts … Drive keyboard shortcuts have been updated to give you first-letters navigation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: cursive;
    /* font-family: 'cursive', sans-serif; */
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #77a612;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #77a612;
    border-bottom: 3px solid #77a612;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #77a612;
        border-bottom: 3px solid #77a612;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #ffffff;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #77a612;
    }
}

section{
    height: 80vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    background-image: url(landing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 75%;
}

.home .home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #77a612;
}

.home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    padding-right: 20%;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    /* border-radius: 50%; */
    box-shadow: 0 0 25px solid #77a612;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #77a612;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #77a612;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #77a612;
    box-shadow: 0  0 25px #77a612;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #77a612;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #77a612;
    color: white;
    box-shadow: 0 0 25px #77a612;
}

.typing-text{
    font-size: 30px;
    font-weight: 500;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Start";
    color: #77a612;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: rgb(255, 253, 253);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #77a612;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}


  /*-----------------------------------*\
  #NUTRITIONS
\*-----------------------------------*/

.nutritions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 5%;
}



  /*-----------------------------------*\
  #SUMMER OFFER
\*-----------------------------------*/


.cta {
    background-image: url(cta-bg.png);
    background-color: #beda83;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
  }

  .cta .section-title {
    font-size: 2rem;
    margin-block-start: 20px;
  }
  
  .cta-text {
    font-size: 1.7rem;
    margin-block: 15px 30px;
  }
  
  /* .cta .btn { margin-inline: auto; } */





  /*-----------------------------------*\
  #PARTNER
\*-----------------------------------*/

.partners{ 
    background-color: #111507; 
    text-align: center;
    padding:5% 15%;
    background-image: url(partner-left-bg.png), url(partner-right-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    margin-bottom: 5%;
}

.partners-title {
    font-size: 5rem;
    color: #77a612;
    position: relative;
    opacity: 0;
    transform: translateY(-50px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.partners-description {
    color: white;
    font-size: 1.7rem;
    margin-block: 15px 30px;
}
.partners-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partner-logo {
    width: 132px;
    height: 134px;
    margin: 10px;
    filter: blur(10px); 
    transition: filter 0.5s ease, opacity 0.5s ease; 
    opacity: 0; 
}

.left .partner-logo {
    transform: translateX(-50px); 
}

.right .partner-logo {
    transform: translateX(50px); 
}

.partner-logo.show {
    filter: blur(0); 
    opacity: 1; 
    transform: translateX(0); 
}

.show-title {
    opacity: 1; 
    transform: translateY(0); 
}


.features {
    text-align: center;
    margin: 40px 0;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.feature-item {
    opacity: 0; /* Start invisible */
    transform: translateX(100px); /* Start off to the right */
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin: 0 20px;
}

.feature-item.show {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}

@keyframes blurToRegular {
    0% {
        filter: blur(10px); /* Initial blur */
    }
    100% {
        filter: blur(0); /* Final state without blur */
    }
}




/*-----------------------------------*\
  #newsletter
\*-----------------------------------*/



.newsletter {
    margin-inline: 15%;
    margin-block: 5%;
    padding-block: 30px;
    background-image: url(partner-left-bg.png), url(partner-right-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    text-align: center;
}

.newsletter-card {
    padding: 80px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.newsletter-subtitle {
    color: #beda83;
    font-size: 4rem;
}
.newsletter-title {
    color: white;
    font-size: xxx-large;
    margin-block: 10px;
}
.neon-text {
    color: #77a612; /* Neon green color */
    text-shadow: 
        0 0 3px #77a612,
        0 0 5px #77a612,
        0 0 10px #6c9f10; /* Reduced glow effect */
    animation: blink 1.5s infinite; 
}
.newsletter-form {
    width: 40%;
    margin-block: 2.5%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 50px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes cursor{
    to{
        border-left: 2px solid #77a612;
    }
}

@keyframes words{
    0%, 20%{
        content: "fruits";
    }
    21%, 40%{
        content: "vegetables";
    }
    41%, 60%{
        content: "domestic";
    }
    61%, 80%{
        content: "ready-made items";
    }
    81%, 100%{
        content: "and so on";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}


 /*-----------------------------------*\
  #LOGIN
\*-----------------------------------*/



.login-container {
  position: relative;
  width: 100%;
  background-color: #102415;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(partner-left-bg.png), url(partner-right-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
  margin-top: 6%;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.5rem;
  color: #90c51f;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.5rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.4rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0px;
  font-size: 1.3rem;
  color: white;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #77a612;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #77a612;
}

.social-icon:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #77a612;
    box-shadow: 0  0 25px #77a612;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #627242 0%, #535e41 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: bold;
  line-height: 1;
  font-size: 2.5rem;
}

.panel p {
  font-size: 1.7rem;
  padding: 1.3rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  /* width: 130px; */
  height: 45px;
  font-weight: 600;
  font-size: 1.5rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.login-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.login-container.sign-up-mode .left-panel .image,
.login-container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.login-container.sign-up-mode .signin-signup {
  left: 25%;
}

.login-container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.login-container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.login-container.sign-up-mode .right-panel .image,
.login-container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.login-container.sign-up-mode .left-panel {
  pointer-events: none;
}

.login-container.sign-up-mode .right-panel {
  pointer-events: all;
}








@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}




@media (max-width: 870px) {
  .login-container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .login-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .login-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .login-container.sign-up-mode .left-panel .image,
  .login-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .login-container.sign-up-mode .right-panel .image,
  .login-container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .login-container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}




@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .login-container {
    padding: 1.5rem;
  }

  .login-container:before {
    bottom: 72%;
    left: 50%;
  }

  .login-container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}